## Treating missing values, winsorizing outliers and feature normalization

In [2]:
import numpy as np
import pandas as pd
import math
import sklearn
import sklearn.preprocessing
import datetime
import os
import matplotlib.pyplot as plt
import tensorflow as tf


# loading packages
import numpy as np
import pandas as pd


# data visualization and missing values
import matplotlib.pyplot as plt
import seaborn as sns # advanced vizs
sns.set()
import missingno as msno # missing values
%matplotlib inline

# stats
from statsmodels.distributions.empirical_distribution import ECDF
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
df = pd.read_csv(r"C:\Users\Besitzer\Documents\Data\ger_factor_data_short.csv", dtype ={"comp_tpci": str})
df["date"] = pd.to_datetime(df["date"])  #convert to date format
df["eom"] = pd.to_datetime(df["eom"])    #convert to date format
df.head()

,id,date,eom,size_grp,primary_sec,curcd,fx,common,comp_tpci,comp_exchg,...,rmax5_rvol_21d,ni_be,ocf_at,ocf_at_chg1,mispricing_perf,mispricing_mgmt,qmj,qmj_prof,qmj_growth,qmj_safety
0,comp_001166_02W,1999-07-30,1999-07-31,small,0,EUR,1.070296,1,0,154,...,NaN,-0.661029,-0.047722,0.140976,NaN,NaN,NaN,NaN,NaN,NaN
1,comp_001166_02W,1999-08-31,1999-08-31,small,0,EUR,1.056227,1,0,154,...,NaN,-0.661029,-0.047722,0.140976,NaN,NaN,NaN,NaN,NaN,NaN
2,comp_001166_02W,1999-09-30,1999-09-30,small,0,EUR,1.064990,1,0,154,...,NaN,-0.661029,-0.047722,0.140976,NaN,NaN,NaN,NaN,NaN,NaN
3,comp_001166_02W,1999-10-29,1999-10-31,small,0,EUR,1.051050,1,0,154,...,NaN,-0.398598,0.093191,0.045857,NaN,NaN,NaN,NaN,NaN,NaN
4,comp_001166_02W,1999-11-30,1999-11-30,small,0,EUR,1.006891,1,0,154,...,NaN,-0.398598,0.093191,0.045857,NaN,NaN,NaN,NaN,NaN,NaN

### Missing values

- Inspect the amount of missing values per variable:

In [11]:
pd.set_option('display.max_rows',None)
df.isna().sum()

id                           0
date                         0
eom                          0
size_grp                  6256
primary_sec                  0
curcd                        0
fx                           0
common                       0
comp_tpci                    0
comp_exchg                   0
sic                      32512
shares                    6256
me_company                6256
prc_local                    0
dolvol                   68758
ret                          0
ret_local                    0
ret_exc                      0
ret_lag_dif                  0
ret_exc_lead1m            4750
enterprise_value         41189
book_equity               9412
assets                       0
sales                     1930
net_income                  11
bidask                       0
prc_high                     0
prc_low                      0
tvol                     68758
niq_su                  159582
ret_6_1                  40467
ret_12_1                 53911
saleq_su                200920
tax_gr1a                 18475
ni_inc8q                175937
prc_highprc_252d         50615
resff3_6_1               76474
resff3_12_1              75564
be_me                    37701
debt_me                  35240
at_me                    28792
ret_60_12               148577
ni_me                    28803
fcf_me                  121285
div12m_me               185673
eqpo_me                 252359
eqnpo_me                231017
sale_gr3                 56161
sale_gr1                 21317
ebitda_mev               45592
sale_me                  30685
ocf_me                   31651
intrinsic_value         165178
bev_mev                  50372
netdebt_me               35240
eq_dur                   75684
capex_abn               154164
at_gr1                   11646
ppeinv_gr1a              64287
noa_at                   69827
noa_gr1a                 70601
lnoa_gr1a                49224
capx_gr1                117532
capx_gr2                132584
capx_gr3                148031
chcsho_12m               35493
eqnpo_12m                35493
debt_gr3                 87657
inv_gr1                  88517
inv_gr1a                 32529
oaccruals_at             66821
taccruals_at             68941
cowc_gr1a                69676
coa_gr1a                 69453
col_gr1a                 69544
nncoa_gr1a               70574
ncoa_gr1a                69411
ncol_gr1a                70478
nfna_gr1a                20241
sti_gr1a                 49517
lti_gr1a                 70749
fnl_gr1a                 20241
be_gr1a                  24159
oaccruals_ni             68020
taccruals_ni             70424
netis_at                182790
eqnetis_at              182324
dbnetis_at               15661
niq_be                  122435
niq_be_chg1             141348
niq_at                  120118
niq_at_chg1             139552
ebit_bev                 13221
ebit_sale                 8924
sale_bev                 13855
at_turnover              10396
gp_at                    60892
gp_atl1                  70731
ope_be                   24452
ope_bel1                 35475
op_at                     3636
op_atl1                  15914
cop_at                   67191
cop_atl1                 69354
f_score                  93640
o_score                  76563
z_score                  95322
pi_nix                   96373
at_be                     9424
saleq_gr1               171142
rd_me                   253417
rd_sale                 243383
opex_at                  58882
emp_gr1                 131424
rd5_at                  284647
age                          0
dsale_dinv              101387
dsale_drec               89161
dgp_dsale                96772
dsale_dsga              164365
sale_emp_gr1            127491
tangibility              71732
kz_index                180901
ocfq_saleq_std          189277
cash_at                   9484
ni_ar1                   94538
ni_ivol                  94538
earnings_variability     97885
aliq_at                  68980
aliq_mat                110044
seas_1_1an               40728
seas_1_1na              108566
seas_2_5an              158891
seas_2_5na              247441
seas_6_10an             250161
seas_6_10na             305362
seas_11_15an            306059
seas_11_15na            335760
seas_16_20an            336809
seas_16_20na            350359
market_equity             6256
ivol_ff3_21d             75410
ivol_capm_252d           50615
ivol_capm_21d            65703
ivol_hxz4_21d           122611
rvol_21d                 65703
beta_60m                 95612
betabab_1260d           148176
beta_dimson_21d          65703
turnover_126d           157363
turnover_var_126d       157363
dolvol_126d             154685
dolvol_var_126d         154685
prc                          0
ami_126d                157866
zero_trades_21d         178657
zero_trades_126d        157301
zero_trades_252d        161368
rmax1_21d                65703
rskew_21d                65703
iskew_capm_21d           65703
iskew_ff3_21d            75410
iskew_hxz4_21d          122611
coskew_21d               65703
ret_1_0                  25961
betadown_252d            56155
bidaskhl_21d             31616
ret_3_1                  32971
ret_9_1                  47400
ret_12_7                 53809
corr_1260d              146391
rmax5_21d                65703
rmax5_rvol_21d           79564
ni_be                     9720
ocf_at                    3148
ocf_at_chg1              17034
mispricing_perf         150849
mispricing_mgmt         157746
qmj                     211863
qmj_prof                147129
qmj_growth              211492
qmj_safety              148385
dtype: int64

- Drop observations without SIC-codes

In [12]:
df = df.dropna( how='any',subset=["sic"])

- Replace the missing valuues with the cross-sectional median at each month

In [13]:
df = df.fillna(df.groupby('eom').transform('median'))

- Drop variable characteristics the more than 10,000 missing values:

In [14]:
pd.set_option('display.max_rows',None)
df.isna().sum().sort_values(ascending = False)

seas_16_20na            98269
seas_16_20an            98098
ivol_hxz4_21d           59487
iskew_hxz4_21d          59487
seas_11_15na            44474
seas_11_15an            44474
seas_6_10na             14543
seas_6_10an             14543
capex_abn               11828
zero_trades_252d        10056
turnover_126d            9341
dolvol_126d              9341
dolvol_var_126d          9341
ami_126d                 9341
zero_trades_126d         9341
turnover_var_126d        9341
qmj_growth               9341
qmj                      9341
tvol                     8869
dolvol                   8869
zero_trades_21d          8869
ni_inc8q                 7929
capx_gr2                 7630
capx_gr1                 6955
size_grp                 6198
niq_be_chg1              6171
niq_at_chg1              6171
niq_su                   6083
capx_gr3                 5932
resff3_12_1              4959
resff3_6_1               4959
niq_be                   3955
niq_at                   3445
ocfq_saleq_std           2791
fcf_me                   1783
ret_60_12                1762
seas_2_5na               1590
seas_2_5an               1590
eqnpo_me                 1564
eqpo_me                  1564
eqnetis_at               1564
netis_at                 1564
ivol_ff3_21d              918
iskew_ff3_21d             918
bidaskhl_21d              631
beta_60m                  623
mispricing_mgmt           320
ni_ar1                     95
earnings_variability       95
ni_ivol                    95
qmj_prof                   95
be_gr1a                    77
ncol_gr1a                  77
nfna_gr1a                  77
sti_gr1a                   77
lti_gr1a                   77
fnl_gr1a                   77
dbnetis_at                 77
oaccruals_ni               77
taccruals_ni               77
tax_gr1a                   77
saleq_su                   77
at_turnover                77
nncoa_gr1a                 77
ncoa_gr1a                  77
eq_dur                     77
col_gr1a                   77
coa_gr1a                   77
ppeinv_gr1a                77
intrinsic_value            77
noa_at                     77
noa_gr1a                   77
lnoa_gr1a                  77
gp_atl1                    77
sale_gr1                   77
sale_gr3                   77
debt_gr3                   77
inv_gr1                    77
at_gr1                     77
inv_gr1a                   77
oaccruals_at               77
taccruals_at               77
cowc_gr1a                  77
gp_at                      77
qmj_safety                 77
dsale_dinv                 77
cash_at                    77
dgp_dsale                  77
dsale_drec                 77
tangibility                77
kz_index                   77
rd5_at                     77
emp_gr1                    77
opex_at                    77
rd_sale                    77
rd_me                      77
saleq_gr1                  77
aliq_at                    77
sale_emp_gr1               77
z_score                    77
o_score                    77
f_score                    77
cop_atl1                   77
cop_at                     77
op_atl1                    77
aliq_mat                   77
ope_bel1                   77
ocf_at_chg1                77
dsale_dsga                 77
betabab_1260d              69
corr_1260d                 69
ret_lag_dif                 0
prc_low                     0
ocf_at                      0
ni_be                       0
prc_high                    0
bidask                      0
ret_6_1                     0
net_income                  0
ret_12_1                    0
sales                       0
assets                      0
rmax5_rvol_21d              0
book_equity                 0
rmax5_21d                   0
enterprise_value            0
ret_exc_lead1m              0
ope_be                      0
ret_exc                     0
common                      0
date                        0
eom                         0
mispricing_perf             0
primary_sec                 0
curcd                       0
fx                          0
prc_highprc_252d            0
ret_local                   0
comp_exchg                  0
sic                         0
shares                      0
me_company                  0
prc_local                   0
ret                         0
comp_tpci                   0
rskew_21d                   0
ret_12_7                    0
ret_9_1                     0
rvol_21d                    0
ivol_capm_21d               0
ivol_capm_252d              0
market_equity               0
seas_1_1na                  0
seas_1_1an                  0
chcsho_12m                  0
eqnpo_12m                   0
age                         0
at_be                       0
pi_nix                      0
op_at                       0
ebit_bev                    0
ebit_sale                   0
sale_bev                    0
beta_dimson_21d             0
prc                         0
netdebt_me                  0
div12m_me                   0
be_me                       0
debt_me                     0
at_me                       0
ret_3_1                     0
ni_me                       0
betadown_252d               0
ret_1_0                     0
bev_mev                     0
coskew_21d                  0
iskew_capm_21d              0
ebitda_mev                  0
sale_me                     0
ocf_me                      0
rmax1_21d                   0
id                          0
dtype: int64

In [15]:
df.drop(["seas_16_20na", "seas_16_20an","ivol_hxz4_21d", "iskew_hxz4_21d","seas_11_15na","seas_11_15an","seas_6_10na","seas_6_10an"], axis = 1, inplace = True)

-  Drop all observations for which there are still missing values

In [16]:
df = df.dropna()

- There are 306411 observations left

In [17]:
print(len(df))

306411

In [18]:
pd.set_option('display.max_rows',None)
df.isna().sum().sort_values(ascending = False)

qmj_safety              0
netdebt_me              0
capx_gr1                0
lnoa_gr1a               0
noa_gr1a                0
noa_at                  0
ppeinv_gr1a             0
at_gr1                  0
capex_abn               0
eq_dur                  0
bev_mev                 0
capx_gr3                0
intrinsic_value         0
ocf_me                  0
sale_me                 0
ebitda_mev              0
sale_gr1                0
sale_gr3                0
eqnpo_me                0
eqpo_me                 0
capx_gr2                0
chcsho_12m              0
fcf_me                  0
ncoa_gr1a               0
taccruals_ni            0
oaccruals_ni            0
be_gr1a                 0
fnl_gr1a                0
lti_gr1a                0
sti_gr1a                0
nfna_gr1a               0
ncol_gr1a               0
nncoa_gr1a              0
eqnpo_12m               0
col_gr1a                0
coa_gr1a                0
cowc_gr1a               0
taccruals_at            0
oaccruals_at            0
inv_gr1a                0
inv_gr1                 0
debt_gr3                0
div12m_me               0
ni_me                   0
qmj_growth              0
sic                     0
ret_lag_dif             0
ret_exc                 0
ret_local               0
ret                     0
dolvol                  0
prc_local               0
me_company              0
shares                  0
comp_exchg              0
enterprise_value        0
comp_tpci               0
common                  0
fx                      0
curcd                   0
primary_sec             0
size_grp                0
eom                     0
date                    0
ret_exc_lead1m          0
book_equity             0
ret_60_12               0
saleq_su                0
at_me                   0
debt_me                 0
be_me                   0
resff3_12_1             0
resff3_6_1              0
prc_highprc_252d        0
ni_inc8q                0
tax_gr1a                0
ret_12_1                0
assets                  0
ret_6_1                 0
niq_su                  0
tvol                    0
prc_low                 0
prc_high                0
bidask                  0
net_income              0
sales                   0
netis_at                0
eqnetis_at              0
dbnetis_at              0
beta_dimson_21d         0
zero_trades_126d        0
zero_trades_21d         0
ami_126d                0
prc                     0
dolvol_var_126d         0
dolvol_126d             0
turnover_var_126d       0
turnover_126d           0
betabab_1260d           0
rmax1_21d               0
beta_60m                0
rvol_21d                0
ivol_capm_21d           0
ivol_capm_252d          0
ivol_ff3_21d            0
market_equity           0
seas_2_5na              0
seas_2_5an              0
zero_trades_252d        0
rskew_21d               0
niq_be                  0
rmax5_21d               0
qmj_prof                0
qmj                     0
mispricing_mgmt         0
mispricing_perf         0
ocf_at_chg1             0
ocf_at                  0
ni_be                   0
rmax5_rvol_21d          0
corr_1260d              0
iskew_capm_21d          0
ret_12_7                0
ret_9_1                 0
ret_3_1                 0
bidaskhl_21d            0
betadown_252d           0
ret_1_0                 0
coskew_21d              0
iskew_ff3_21d           0
seas_1_1na              0
seas_1_1an              0
aliq_mat                0
ope_be                  0
z_score                 0
o_score                 0
f_score                 0
cop_atl1                0
cop_at                  0
op_atl1                 0
op_at                   0
ope_bel1                0
gp_atl1                 0
aliq_at                 0
gp_at                   0
at_turnover             0
sale_bev                0
ebit_sale               0
ebit_bev                0
niq_at_chg1             0
niq_at                  0
niq_be_chg1             0
pi_nix                  0
at_be                   0
saleq_gr1               0
rd_me                   0
earnings_variability    0
ni_ivol                 0
ni_ar1                  0
cash_at                 0
ocfq_saleq_std          0
kz_index                0
tangibility             0
sale_emp_gr1            0
dsale_dsga              0
dgp_dsale               0
dsale_drec              0
dsale_dinv              0
age                     0
rd5_at                  0
emp_gr1                 0
opex_at                 0
rd_sale                 0
id                      0
dtype: int64

- Save cleaned data set

In [19]:
df.to_csv(r'C:\Users\Besitzer\Documents\Data\ger_factor_data_without_NAN.csv', index = False)

In [57]:
df = pd.read_csv(r"C:\Users\Besitzer\Documents\Data\ger_factor_data_without_NAN.csv", dtype ={"comp_tpci": str})
df["date"] = pd.to_datetime(df["date"])  #convert to date format
df["eom"] = pd.to_datetime(df["eom"])    #convert to date format
df.head()

,id,date,eom,size_grp,primary_sec,curcd,fx,common,comp_tpci,comp_exchg,...,rmax5_rvol_21d,ni_be,ocf_at,ocf_at_chg1,mispricing_perf,mispricing_mgmt,qmj,qmj_prof,qmj_growth,qmj_safety
0,comp_001166_02W,1999-07-30,1999-07-31,small,0,EUR,1.070296,1,0,154,...,0.964529,-0.661029,-0.047722,0.140976,0.503758,0.514521,0.000000,0.019932,0.052354,-0.130143
1,comp_001166_02W,1999-08-31,1999-08-31,small,0,EUR,1.056227,1,0,154,...,0.894882,-0.661029,-0.047722,0.140976,0.511799,0.506162,-0.008770,0.019840,0.043850,-0.118398
2,comp_001166_02W,1999-09-30,1999-09-30,small,0,EUR,1.064990,1,0,154,...,0.880642,-0.661029,-0.047722,0.140976,0.502374,0.505931,-0.008770,0.011904,0.043850,-0.125760
3,comp_001166_02W,1999-10-29,1999-10-31,small,0,EUR,1.051050,1,0,154,...,0.952324,-0.398598,0.093191,0.045857,0.512833,0.509351,-0.008998,0.015945,0.044988,-0.111005
4,comp_001166_02W,1999-11-30,1999-11-30,small,0,EUR,1.006891,1,0,154,...,1.027418,-0.398598,0.093191,0.045857,0.506444,0.517646,0.026716,0.033999,0.080147,-0.065429

## Explore the data before treating

In [20]:
df = df.sort_values(by=['eom', "id"])

In [19]:
# The observation period contains 300 months in the period from 04.1995 to 12.2020'
df.head(5).append(df.tail(5))

,id,date,eom,size_grp,primary_sec,curcd,fx,common,comp_tpci,comp_exchg,...,rmax5_rvol_21d,ni_be,ocf_at,ocf_at_chg1,mispricing_perf,mispricing_mgmt,qmj,qmj_prof,qmj_growth,qmj_safety
3557,comp_011217_05W,1995-04-28,1995-04-30,mega,0,DEM,0.723476,1,0,163,...,1.502913,0.278979,0.088404,0.037669,0.500384,0.499886,0.018878,-0.024001,0.000000,0.029671
7008,comp_015334_02W,1995-04-28,1995-04-30,mega,0,DEM,0.723476,1,0,154,...,1.271648,0.187998,0.151067,0.129397,0.500384,0.499886,0.018878,-0.024001,0.000000,0.029671
7411,comp_015496_01W,1995-04-28,1995-04-30,small,0,DEM,0.723476,1,0,154,...,1.061040,0.087750,0.006923,-0.001141,0.500384,0.499886,0.018878,-0.024001,0.000000,0.029671
7627,comp_015496_02W,1995-04-28,1995-04-30,large,1,DEM,0.723476,1,0,154,...,1.266525,0.087750,0.006923,-0.001141,0.232975,0.538805,0.773998,-0.424014,0.906144,0.830793
7668,comp_015518_01W,1995-04-28,1995-04-30,large,1,DEM,0.723476,1,0,154,...,1.066115,0.054419,0.013456,0.000189,0.623656,0.446684,0.509706,-0.728023,0.868388,0.815957
306352,comp_333391_05W,2020-12-30,2020-12-31,nano,0,EUR,1.228850,1,0,154,...,0.577215,-0.267562,-0.146800,0.642355,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550
306370,comp_333885_01W,2020-12-30,2020-12-31,large,1,EUR,1.228850,1,0,171,...,0.961956,0.639671,0.193740,0.074673,0.664996,0.382121,0.029274,1.618001,0.048699,-0.446789
306384,comp_334036_02W,2020-12-30,2020-12-31,nano,0,EUR,1.228850,1,0,154,...,1.713296,-1.335185,-0.366940,0.061961,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550
306389,comp_334302_02W,2020-12-30,2020-12-31,micro,0,EUR,1.228850,1,0,257,...,1.024812,0.251130,0.075040,-0.115848,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550
306410,comp_336873_02W,2020-12-30,2020-12-31,nano,0,EUR,1.228850,1,0,154,...,1.696445,0.056421,-0.379762,-0.467364,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550

In [50]:
df["eom"].unique()

array(['1995-04-30T00:00:00.000000000', '1995-05-31T00:00:00.000000000',
       '1995-06-30T00:00:00.000000000', '1996-04-30T00:00:00.000000000',
       '1996-05-31T00:00:00.000000000', '1996-06-30T00:00:00.000000000',
       '1996-07-31T00:00:00.000000000', '1996-08-31T00:00:00.000000000',
       '1996-09-30T00:00:00.000000000', '1996-10-31T00:00:00.000000000',
       '1996-11-30T00:00:00.000000000', '1996-12-31T00:00:00.000000000',
       '1997-01-31T00:00:00.000000000', '1997-02-28T00:00:00.000000000',
       '1997-03-31T00:00:00.000000000', '1997-04-30T00:00:00.000000000',
       '1997-05-31T00:00:00.000000000', '1997-06-30T00:00:00.000000000',
       '1997-07-31T00:00:00.000000000', '1997-08-31T00:00:00.000000000',
       '1997-09-30T00:00:00.000000000', '1997-10-31T00:00:00.000000000',
       '1997-11-30T00:00:00.000000000', '1997-12-31T00:00:00.000000000',
       '1998-01-31T00:00:00.000000000', '1998-02-28T00:00:00.000000000',
       '1998-03-31T00:00:00.000000000', '1998-04-30T00:00:00.000000000',
       '1998-05-31T00:00:00.000000000', '1998-06-30T00:00:00.000000000',
       '1998-07-31T00:00:00.000000000', '1998-08-31T00:00:00.000000000',
       '1998-09-30T00:00:00.000000000', '1998-10-31T00:00:00.000000000',
       '1998-11-30T00:00:00.000000000', '1998-12-31T00:00:00.000000000',
       '1999-01-31T00:00:00.000000000', '1999-02-28T00:00:00.000000000',
       '1999-03-31T00:00:00.000000000', '1999-04-30T00:00:00.000000000',
       '1999-05-31T00:00:00.000000000', '1999-06-30T00:00:00.000000000',
       '1999-07-31T00:00:00.000000000', '1999-08-31T00:00:00.000000000',
       '1999-09-30T00:00:00.000000000', '1999-10-31T00:00:00.000000000',
       '1999-11-30T00:00:00.000000000', '1999-12-31T00:00:00.000000000',
       '2000-01-31T00:00:00.000000000', '2000-02-29T00:00:00.000000000',
       '2000-03-31T00:00:00.000000000', '2000-04-30T00:00:00.000000000',
       '2000-05-31T00:00:00.000000000', '2000-06-30T00:00:00.000000000',
       '2000-07-31T00:00:00.000000000', '2000-08-31T00:00:00.000000000',
       '2000-09-30T00:00:00.000000000', '2000-10-31T00:00:00.000000000',
       '2000-11-30T00:00:00.000000000', '2000-12-31T00:00:00.000000000',
       '2001-01-31T00:00:00.000000000', '2001-02-28T00:00:00.000000000',
       '2001-03-31T00:00:00.000000000', '2001-04-30T00:00:00.000000000',
       '2001-05-31T00:00:00.000000000', '2001-06-30T00:00:00.000000000',
       '2001-07-31T00:00:00.000000000', '2001-08-31T00:00:00.000000000',
       '2001-09-30T00:00:00.000000000', '2001-10-31T00:00:00.000000000',
       '2001-11-30T00:00:00.000000000', '2001-12-31T00:00:00.000000000',
       '2002-01-31T00:00:00.000000000', '2002-02-28T00:00:00.000000000',
       '2002-03-31T00:00:00.000000000', '2002-04-30T00:00:00.000000000',
       '2002-05-31T00:00:00.000000000', '2002-06-30T00:00:00.000000000',
       '2002-07-31T00:00:00.000000000', '2002-08-31T00:00:00.000000000',
       '2002-09-30T00:00:00.000000000', '2002-10-31T00:00:00.000000000',
       '2002-11-30T00:00:00.000000000', '2002-12-31T00:00:00.000000000',
       '2003-01-31T00:00:00.000000000', '2003-02-28T00:00:00.000000000',
       '2003-03-31T00:00:00.000000000', '2003-04-30T00:00:00.000000000',
       '2003-05-31T00:00:00.000000000', '2003-06-30T00:00:00.000000000',
       '2003-07-31T00:00:00.000000000', '2003-08-31T00:00:00.000000000',
       '2003-09-30T00:00:00.000000000', '2003-10-31T00:00:00.000000000',
       '2003-11-30T00:00:00.000000000', '2003-12-31T00:00:00.000000000',
       '2004-01-31T00:00:00.000000000', '2004-02-29T00:00:00.000000000',
       '2004-03-31T00:00:00.000000000', '2004-04-30T00:00:00.000000000',
       '2004-05-31T00:00:00.000000000', '2004-06-30T00:00:00.000000000',
       '2004-07-31T00:00:00.000000000', '2004-08-31T00:00:00.000000000',
       '2004-09-30T00:00:00.000000000', '2004-10-31T00:00:00.000000000',
       '2004-11-30T00:00:00.000000000', '2004-12-31T00:00:00.000000000',
       '2005-01-31T00:00:00.000000000', '2005-02-28T00:00:00.000000000',
       '2005-03-31T00:00:00.000000000', '2005-04-30T00:00:00.000000000',
       '2005-05-31T00:00:00.000000000', '2005-06-30T00:00:00.000000000',
       '2005-07-31T00:00:00.000000000', '2005-08-31T00:00:00.000000000',
       '2005-09-30T00:00:00.000000000', '2005-10-31T00:00:00.000000000',
       '2005-11-30T00:00:00.000000000', '2005-12-31T00:00:00.000000000',
       '2006-01-31T00:00:00.000000000', '2006-02-28T00:00:00.000000000',
       '2006-03-31T00:00:00.000000000', '2006-04-30T00:00:00.000000000',
       '2006-05-31T00:00:00.000000000', '2006-06-30T00:00:00.000000000',
       '2006-07-31T00:00:00.000000000', '2006-08-31T00:00:00.000000000',
       '2006-09-30T00:00:00.000000000', '2006-10-31T00:00:00.000000000',
       '2006-11-30T00:00:00.000000000', '2006-12-31T00:00:00.000000000',
       '2007-01-31T00:00:00.000000000', '2007-02-28T00:00:00.000000000',
       '2007-03-31T00:00:00.000000000', '2007-04-30T00:00:00.000000000',
       '2007-05-31T00:00:00.000000000', '2007-06-30T00:00:00.000000000',
       '2007-07-31T00:00:00.000000000', '2007-08-31T00:00:00.000000000',
       '2007-09-30T00:00:00.000000000', '2007-10-31T00:00:00.000000000',
       '2007-11-30T00:00:00.000000000', '2007-12-31T00:00:00.000000000',
       '2008-01-31T00:00:00.000000000', '2008-02-29T00:00:00.000000000',
       '2008-03-31T00:00:00.000000000', '2008-04-30T00:00:00.000000000',
       '2008-05-31T00:00:00.000000000', '2008-06-30T00:00:00.000000000',
       '2008-07-31T00:00:00.000000000', '2008-08-31T00:00:00.000000000',
       '2008-09-30T00:00:00.000000000', '2008-10-31T00:00:00.000000000',
       '2008-11-30T00:00:00.000000000', '2008-12-31T00:00:00.000000000',
       '2009-01-31T00:00:00.000000000', '2009-02-28T00:00:00.000000000',
       '2009-03-31T00:00:00.000000000', '2009-04-30T00:00:00.000000000',
       '2009-05-31T00:00:00.000000000', '2009-06-30T00:00:00.000000000',
       '2009-07-31T00:00:00.000000000', '2009-08-31T00:00:00.000000000',
       '2009-09-30T00:00:00.000000000', '2009-10-31T00:00:00.000000000',
       '2009-11-30T00:00:00.000000000', '2009-12-31T00:00:00.000000000',
       '2010-01-31T00:00:00.000000000', '2010-02-28T00:00:00.000000000',
       '2010-03-31T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2010-05-31T00:00:00.000000000', '2010-06-30T00:00:00.000000000',
       '2010-07-31T00:00:00.000000000', '2010-08-31T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2010-10-31T00:00:00.000000000',
       '2010-11-30T00:00:00.000000000', '2010-12-31T00:00:00.000000000',
       '2011-01-31T00:00:00.000000000', '2011-02-28T00:00:00.000000000',
       '2011-03-31T00:00:00.000000000', '2011-04-30T00:00:00.000000000',
       '2011-05-31T00:00:00.000000000', '2011-06-30T00:00:00.000000000',
       '2011-07-31T00:00:00.000000000', '2011-08-31T00:00:00.000000000',
       '2011-09-30T00:00:00.000000000', '2011-10-31T00:00:00.000000000',
       '2011-11-30T00:00:00.000000000', '2011-12-31T00:00:00.000000000',
       '2012-01-31T00:00:00.000000000', '2012-02-29T00:00:00.000000000',
       '2012-03-31T00:00:00.000000000', '2012-04-30T00:00:00.000000000',
       '2012-05-31T00:00:00.000000000', '2012-06-30T00:00:00.000000000',
       '2012-07-31T00:00:00.000000000', '2012-08-31T00:00:00.000000000',
       '2012-09-30T00:00:00.000000000', '2012-10-31T00:00:00.000000000',
       '2012-11-30T00:00:00.000000000', '2012-12-31T00:00:00.000000000',
       '2013-01-31T00:00:00.000000000', '2013-02-28T00:00:00.000000000',
       '2013-03-31T00:00:00.000000000', '2013-04-30T00:00:00.000000000',
       '2013-05-31T00:00:00.000000000', '2013-06-30T00:00:00.000000000',
       '2013-07-31T00:00:00.000000000', '2013-08-31T00:00:00.000000000',
       '2013-09-30T00:00:00.000000000', '2013-10-31T00:00:00.000000000',
       '2013-11-30T00:00:00.000000000', '2013-12-31T00:00:00.000000000',
       '2014-01-31T00:00:00.000000000', '2014-02-28T00:00:00.000000000',
       '2014-03-31T00:00:00.000000000', '2014-04-30T00:00:00.000000000',
       '2014-05-31T00:00:00.000000000', '2014-06-30T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2014-08-31T00:00:00.000000000',
       '2014-09-30T00:00:00.000000000', '2014-10-31T00:00:00.000000000',
       '2014-11-30T00:00:00.000000000', '2014-12-31T00:00:00.000000000',
       '2015-01-31T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2015-03-31T00:00:00.000000000', '2015-04-30T00:00:00.000000000',
       '2015-05-31T00:00:00.000000000', '2015-06-30T00:00:00.000000000',
       '2015-07-31T00:00:00.000000000', '2015-08-31T00:00:00.000000000',
       '2015-09-30T00:00:00.000000000', '2015-10-31T00:00:00.000000000',
       '2015-11-30T00:00:00.000000000', '2015-12-31T00:00:00.000000000',
       '2016-01-31T00:00:00.000000000', '2016-02-29T00:00:00.000000000',
       '2016-03-31T00:00:00.000000000', '2016-04-30T00:00:00.000000000',
       '2016-05-31T00:00:00.000000000', '2016-06-30T00:00:00.000000000',
       '2016-07-31T00:00:00.000000000', '2016-08-31T00:00:00.000000000',
       '2016-09-30T00:00:00.000000000', '2016-10-31T00:00:00.000000000',
       '2016-11-30T00:00:00.000000000', '2016-12-31T00:00:00.000000000',
       '2017-01-31T00:00:00.000000000', '2017-02-28T00:00:00.000000000',
       '2017-03-31T00:00:00.000000000', '2017-04-30T00:00:00.000000000',
       '2017-05-31T00:00:00.000000000', '2017-06-30T00:00:00.000000000',
       '2017-07-31T00:00:00.000000000', '2017-08-31T00:00:00.000000000',
       '2017-09-30T00:00:00.000000000', '2017-10-31T00:00:00.000000000',
       '2017-11-30T00:00:00.000000000', '2017-12-31T00:00:00.000000000',
       '2018-01-31T00:00:00.000000000', '2018-02-28T00:00:00.000000000',
       '2018-03-31T00:00:00.000000000', '2018-04-30T00:00:00.000000000',
       '2018-05-31T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-07-31T00:00:00.000000000', '2018-08-31T00:00:00.000000000',
       '2018-09-30T00:00:00.000000000', '2018-10-31T00:00:00.000000000',
       '2018-11-30T00:00:00.000000000', '2018-12-31T00:00:00.000000000',
       '2019-01-31T00:00:00.000000000', '2019-02-28T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-04-30T00:00:00.000000000',
       '2019-05-31T00:00:00.000000000', '2019-06-30T00:00:00.000000000',
       '2019-07-31T00:00:00.000000000', '2019-08-31T00:00:00.000000000',
       '2019-09-30T00:00:00.000000000', '2019-10-31T00:00:00.000000000',
       '2019-11-30T00:00:00.000000000', '2019-12-31T00:00:00.000000000',
       '2020-01-31T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-10-31T00:00:00.000000000',
       '2020-11-30T00:00:00.000000000', '2020-12-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [ ]:
#start from 1997--> first year with complete data for all months

In [58]:
df = df[~(df['eom'] < '1997-01-31')]

In [59]:
#the new observation period contains 24 years (288 Months) form 01.1997 to 12.2020 
print(df['eom'].nunique())

288

In [38]:
df.head(5).append(df.tail(5))

,id,date,eom,size_grp,primary_sec,curcd,fx,common,comp_tpci,comp_exchg,...,rmax5_rvol_21d,ni_be,ocf_at,ocf_at_chg1,mispricing_perf,mispricing_mgmt,qmj,qmj_prof,qmj_growth,qmj_safety
3149,comp_010787_02W,1997-01-31,1997-01-31,mega,0,EUR,1.196431,1,0,154,...,1.419911,0.151126,0.091640,-0.019869,0.531032,0.492101,-0.025660,0.068057,-0.042767,-0.056583
3569,comp_011217_05W,1997-01-31,1997-01-31,mega,0,DEM,0.610616,1,0,163,...,1.544091,0.229582,0.047085,-0.045487,0.531032,0.492101,-0.025660,0.068057,-0.042767,-0.056583
7020,comp_015334_02W,1997-01-31,1997-01-31,mega,0,DEM,0.610616,1,0,154,...,1.682550,0.185862,0.114406,-0.036662,0.531032,0.492101,-0.025660,0.068057,-0.042767,-0.056583
7423,comp_015496_01W,1997-01-31,1997-01-31,small,0,DEM,0.610616,1,0,154,...,1.465363,0.096171,0.004535,-0.002389,0.531032,0.492101,-0.025660,0.068057,-0.042767,-0.056583
7639,comp_015496_02W,1997-01-31,1997-01-31,large,1,DEM,0.610616,1,0,154,...,1.253663,0.096171,0.004535,-0.002389,0.531032,0.513601,-0.111194,-0.469594,-0.145407,0.603547
306352,comp_333391_05W,2020-12-30,2020-12-31,nano,0,EUR,1.228850,1,0,154,...,0.577215,-0.267562,-0.146800,0.642355,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550
306370,comp_333885_01W,2020-12-30,2020-12-31,large,1,EUR,1.228850,1,0,171,...,0.961956,0.639671,0.193740,0.074673,0.664996,0.382121,0.029274,1.618001,0.048699,-0.446789
306384,comp_334036_02W,2020-12-30,2020-12-31,nano,0,EUR,1.228850,1,0,154,...,1.713296,-1.335185,-0.366940,0.061961,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550
306389,comp_334302_02W,2020-12-30,2020-12-31,micro,0,EUR,1.228850,1,0,257,...,1.024812,0.251130,0.075040,-0.115848,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550
306410,comp_336873_02W,2020-12-30,2020-12-31,nano,0,EUR,1.228850,1,0,154,...,1.696445,0.056421,-0.379762,-0.467364,0.504174,0.509169,0.029274,0.030414,0.048699,0.062550

In [60]:
#There are 2660 unique german stocks
print(df['id'].nunique())

2660

In [61]:
#There are 370 unique SIC-codes
df['sic'].nunique()

370

In [90]:
#Inspect variable types
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306411 entries, 3557 to 306410
Data columns (total 174 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    object
 1   date                  datetime64[ns]
 2   eom                   datetime64[ns]
 3   size_grp              object
 4   primary_sec           int64
 5   curcd                 object
 6   fx                    float64
 7   common                int64
 8   comp_tpci             object
 9   comp_exchg            int64
 10  sic                   float64
 11  shares                float64
 12  me_company            float64
 13  prc_local             float64
 14  dolvol                float64
 15  ret                   float64
 16  ret_local             float64
 17  ret_exc               float64
 18  ret_lag_dif           int64
 19  ret_exc_lead1m        float64
 20  enterprise_value      float64
 21  book_equity           float64
 22  assets                float64
 23  sales                 float64
 24  net_income            float64
 25  bidask                int64
 26  prc_high              float64
 27  prc_low               float64
 28  tvol                  float64
 29  niq_su                float64
 30  ret_6_1               float64
 31  ret_12_1              float64
 32  saleq_su              float64
 33  tax_gr1a              float64
 34  ni_inc8q              float64
 35  prc_highprc_252d      float64
 36  resff3_6_1            float64
 37  resff3_12_1           float64
 38  be_me                 float64
 39  debt_me               float64
 40  at_me                 float64
 41  ret_60_12             float64
 42  ni_me                 float64
 43  fcf_me                float64
 44  div12m_me             float64
 45  eqpo_me               float64
 46  eqnpo_me              float64
 47  sale_gr3              float64
 48  sale_gr1              float64
 49  ebitda_mev            float64
 50  sale_me               float64
 51  ocf_me                float64
 52  intrinsic_value       float64
 53  bev_mev               float64
 54  netdebt_me            float64
 55  eq_dur                float64
 56  capex_abn             float64
 57  at_gr1                float64
 58  ppeinv_gr1a           float64
 59  noa_at                float64
 60  noa_gr1a              float64
 61  lnoa_gr1a             float64
 62  capx_gr1              float64
 63  capx_gr2              float64
 64  capx_gr3              float64
 65  chcsho_12m            float64
 66  eqnpo_12m             float64
 67  debt_gr3              float64
 68  inv_gr1               float64
 69  inv_gr1a              float64
 70  oaccruals_at          float64
 71  taccruals_at          float64
 72  cowc_gr1a             float64
 73  coa_gr1a              float64
 74  col_gr1a              float64
 75  nncoa_gr1a            float64
 76  ncoa_gr1a             float64
 77  ncol_gr1a             float64
 78  nfna_gr1a             float64
 79  sti_gr1a              float64
 80  lti_gr1a              float64
 81  fnl_gr1a              float64
 82  be_gr1a               float64
 83  oaccruals_ni          float64
 84  taccruals_ni          float64
 85  netis_at              float64
 86  eqnetis_at            float64
 87  dbnetis_at            float64
 88  niq_be                float64
 89  niq_be_chg1           float64
 90  niq_at                float64
 91  niq_at_chg1           float64
 92  ebit_bev              float64
 93  ebit_sale             float64
 94  sale_bev              float64
 95  at_turnover           float64
 96  gp_at                 float64
 97  gp_atl1               float64
 98  ope_be                float64
 99  ope_bel1              float64
 100 op_at                 float64
 101 op_atl1               float64
 102 cop_at                float64
 103 cop_atl1              float64
 104 f_score               float64
 105 o_score               float64
 106 z_score               float64
 107 pi_nix                float64
 108 at_be                 float64
 109 saleq_gr1             float64
 110 rd_me                 float64
 111 rd_sale               float64
 112 opex_at               float64
 113 emp_gr1               float64
 114 rd5_at                float64
 115 age                   int64
 116 dsale_dinv            float64
 117 dsale_drec            float64
 118 dgp_dsale             float64
 119 dsale_dsga            float64
 120 sale_emp_gr1          float64
 121 tangibility           float64
 122 kz_index              float64
 123 ocfq_saleq_std        float64
 124 cash_at               float64
 125 ni_ar1                float64
 126 ni_ivol               float64
 127 earnings_variability  float64
 128 aliq_at               float64
 129 aliq_mat              float64
 130 seas_1_1an            float64
 131 seas_1_1na            float64
 132 seas_2_5an            float64
 133 seas_2_5na            float64
 134 market_equity         float64
 135 ivol_ff3_21d          float64
 136 ivol_capm_252d        float64
 137 ivol_capm_21d         float64
 138 rvol_21d              float64
 139 beta_60m              float64
 140 betabab_1260d         float64
 141 beta_dimson_21d       float64
 142 turnover_126d         float64
 143 turnover_var_126d     float64
 144 dolvol_126d           float64
 145 dolvol_var_126d       float64
 146 prc                   float64
 147 ami_126d              float64
 148 zero_trades_21d       float64
 149 zero_trades_126d      float64
 150 zero_trades_252d      float64
 151 rmax1_21d             float64
 152 rskew_21d             float64
 153 iskew_capm_21d        float64
 154 iskew_ff3_21d         float64
 155 coskew_21d            float64
 156 ret_1_0               float64
 157 betadown_252d         float64
 158 bidaskhl_21d          float64
 159 ret_3_1               float64
 160 ret_9_1               float64
 161 ret_12_7              float64
 162 corr_1260d            float64
 163 rmax5_21d             float64
 164 rmax5_rvol_21d        float64
 165 ni_be                 float64
 166 ocf_at                float64
 167 ocf_at_chg1           float64
 168 mispricing_perf       float64
 169 mispricing_mgmt       float64
 170 qmj                   float64
 171 qmj_prof              float64
 172 qmj_growth            float64
 173 qmj_safety            float64
dtypes: datetime64[ns](2), float64(162), int64(6), object(4)
memory usage: 409.1+ MB

### Treating Outliers

All monthly firm characteristics are winsorized at the 1% and 99% levels to correct for outliers. In contrast to Gu, Kelly, and Xiu (2020), the excess returns are also winsorized.

In [62]:
features = df.columns[11:174].tolist()
features

['shares',
 'me_company',
 'prc_local',
 'dolvol',
 'ret',
 'ret_local',
 'ret_exc',
 'ret_lag_dif',
 'ret_exc_lead1m',
 'enterprise_value',
 'book_equity',
 'assets',
 'sales',
 'net_income',
 'bidask',
 'prc_high',
 'prc_low',
 'tvol',
 'niq_su',
 'ret_6_1',
 'ret_12_1',
 'saleq_su',
 'tax_gr1a',
 'ni_inc8q',
 'prc_highprc_252d',
 'resff3_6_1',
 'resff3_12_1',
 'be_me',
 'debt_me',
 'at_me',
 'ret_60_12',
 'ni_me',
 'fcf_me',
 'div12m_me',
 'eqpo_me',
 'eqnpo_me',
 'sale_gr3',
 'sale_gr1',
 'ebitda_mev',
 'sale_me',
 'ocf_me',
 'intrinsic_value',
 'bev_mev',
 'netdebt_me',
 'eq_dur',
 'capex_abn',
 'at_gr1',
 'ppeinv_gr1a',
 'noa_at',
 'noa_gr1a',
 'lnoa_gr1a',
 'capx_gr1',
 'capx_gr2',
 'capx_gr3',
 'chcsho_12m',
 'eqnpo_12m',
 'debt_gr3',
 'inv_gr1',
 'inv_gr1a',
 'oaccruals_at',
 'taccruals_at',
 'cowc_gr1a',
 'coa_gr1a',
 'col_gr1a',
 'nncoa_gr1a',
 'ncoa_gr1a',
 'ncol_gr1a',
 'nfna_gr1a',
 'sti_gr1a',
 'lti_gr1a',
 'fnl_gr1a',
 'be_gr1a',
 'oaccruals_ni',
 'taccruals_ni',
 'netis_at',
 'eqnetis_at',
 'dbnetis_at',
 'niq_be',
 'niq_be_chg1',
 'niq_at',
 'niq_at_chg1',
 'ebit_bev',
 'ebit_sale',
 'sale_bev',
 'at_turnover',
 'gp_at',
 'gp_atl1',
 'ope_be',
 'ope_bel1',
 'op_at',
 'op_atl1',
 'cop_at',
 'cop_atl1',
 'f_score',
 'o_score',
 'z_score',
 'pi_nix',
 'at_be',
 'saleq_gr1',
 'rd_me',
 'rd_sale',
 'opex_at',
 'emp_gr1',
 'rd5_at',
 'age',
 'dsale_dinv',
 'dsale_drec',
 'dgp_dsale',
 'dsale_dsga',
 'sale_emp_gr1',
 'tangibility',
 'kz_index',
 'ocfq_saleq_std',
 'cash_at',
 'ni_ar1',
 'ni_ivol',
 'earnings_variability',
 'aliq_at',
 'aliq_mat',
 'seas_1_1an',
 'seas_1_1na',
 'seas_2_5an',
 'seas_2_5na',
 'market_equity',
 'ivol_ff3_21d',
 'ivol_capm_252d',
 'ivol_capm_21d',
 'rvol_21d',
 'beta_60m',
 'betabab_1260d',
 'beta_dimson_21d',
 'turnover_126d',
 'turnover_var_126d',
 'dolvol_126d',
 'dolvol_var_126d',
 'prc',
 'ami_126d',
 'zero_trades_21d',
 'zero_trades_126d',
 'zero_trades_252d',
 'rmax1_21d',
 'rskew_21d',
 'iskew_capm_21d',
 'iskew_ff3_21d',
 'coskew_21d',
 'ret_1_0',
 'betadown_252d',
 'bidaskhl_21d',
 'ret_3_1',
 'ret_9_1',
 'ret_12_7',
 'corr_1260d',
 'rmax5_21d',
 'rmax5_rvol_21d',
 'ni_be',
 'ocf_at',
 'ocf_at_chg1',
 'mispricing_perf',
 'mispricing_mgmt',
 'qmj',
 'qmj_prof',
 'qmj_growth',
 'qmj_safety']

In [63]:
df[features] = df[features].apply(lambda x: x.clip(*x.quantile([0.01, 0.99])))

In [64]:
with pd.option_context('display.max_columns', 174):
    print(df.describe(include='all'))

<ipython-input-64-f07716cb0f4d>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df.describe(include='all'))
<ipython-input-64-f07716cb0f4d>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df.describe(include='all'))

                     id                 date                  eom size_grp  \
count            302640               302640               302640   302640
unique             2660                 4862                  288        5
top     comp_200759_02W  2014-12-30 00:00:00  2014-10-31 00:00:00    micro
freq                288                 1250                 1411   100999
first               NaN  1997-01-02 00:00:00  1997-01-31 00:00:00      NaN
last                NaN  2020-12-30 00:00:00  2020-12-31 00:00:00      NaN
mean                NaN                  NaN                  NaN      NaN
std                 NaN                  NaN                  NaN      NaN
min                 NaN                  NaN                  NaN      NaN
25%                 NaN                  NaN                  NaN      NaN
50%                 NaN                  NaN                  NaN      NaN
75%                 NaN                  NaN                  NaN      NaN
max                 NaN                  NaN                  NaN      NaN

          primary_sec   curcd             fx         common comp_tpci  \
count   302640.000000  302640  302640.000000  302640.000000    302640
unique            NaN       5            NaN            NaN         7
top               NaN     EUR            NaN            NaN         0
freq              NaN  292093            NaN            NaN    266577
first             NaN     NaN            NaN            NaN       NaN
last              NaN     NaN            NaN            NaN       NaN
mean         0.624894     NaN       1.195905       0.880839       NaN
std          0.484151     NaN       0.196060       0.323979       NaN
min          0.000000     NaN       0.078746       0.000000       NaN
25%          0.000000     NaN       1.104040       1.000000       NaN
50%          1.000000     NaN       1.216082       1.000000       NaN
75%          1.000000     NaN       1.328414       1.000000       NaN
max          1.000000     NaN       2.077200       1.000000       NaN

           comp_exchg            sic         shares     me_company  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean       164.740371    4815.858466     530.850179    5181.338233
std         22.425246    2020.192060    1751.164453   15170.204220
min        115.000000     100.000000       0.120000       1.328290
25%        154.000000    3330.000000       5.335000      42.349568
50%        154.000000    4810.000000      21.000000     227.039699
75%        171.000000    6510.000000     195.000000    2079.563390
max        257.000000    9998.000000   13151.244320   99669.950582

            prc_local        dolvol            ret      ret_local  \
count   302640.000000  3.026400e+05  302640.000000  302640.000000
unique            NaN           NaN            NaN            NaN
top               NaN           NaN            NaN            NaN
freq              NaN           NaN            NaN            NaN
first             NaN           NaN            NaN            NaN
last              NaN           NaN            NaN            NaN
mean        44.360808  6.989198e+07       0.006129       0.005513
std        114.790895  3.548110e+08       0.138113       0.133884
min          0.018000  2.151535e+02      -0.386103      -0.379375
25%          2.500000  7.120035e+04      -0.061211      -0.057292
50%          9.920000  3.649790e+05       0.000387       0.000000
75%         31.820000  3.460392e+06       0.063652       0.058824
max        814.000000  2.912537e+09       0.548973       0.538462

              ret_exc  ret_lag_dif  ret_exc_lead1m  enterprise_value  \
count   302640.000000     302640.0   302640.000000     302640.000000
unique            NaN          NaN             NaN               NaN
top               NaN          NaN             NaN               NaN
freq              NaN          NaN             NaN               NaN
first             NaN          NaN             NaN               NaN
last              NaN          NaN             NaN               NaN
mean         0.004853          1.0        0.004882       7896.217387
std          0.138154          0.0        0.136614      23887.448432
min         -0.387614          1.0       -0.382309          1.674310
25%         -0.062610          1.0       -0.061935         71.777856
50%         -0.000917          1.0       -0.000855        336.718051
75%          0.062499          1.0        0.061924       2687.172848
max          0.547134          1.0        0.538720     154387.218518

          book_equity         assets          sales     net_income    bidask  \
count   302640.000000  302640.000000  302640.000000  302640.000000  302640.0
unique            NaN            NaN            NaN            NaN       NaN
top               NaN            NaN            NaN            NaN       NaN
freq              NaN            NaN            NaN            NaN       NaN
first             NaN            NaN            NaN            NaN       NaN
last              NaN            NaN            NaN            NaN       NaN
mean      3429.872401   16920.162561    5882.387029     335.487739       0.0
std      10319.548406   61162.869238   16658.180780    1146.886002       0.0
min          0.798406       1.536630       0.000000    -906.759000       0.0
25%         33.795956      69.248611      45.812237      -0.491999       0.0
50%        158.415981     373.365137     286.376658       7.590096       0.0
75%       1284.385531    3869.275554    2423.274425     107.016452       0.0
max      67983.815479  455141.184114  103779.051478    7816.328802       0.0

             prc_high        prc_low          tvol         niq_su  \
count   302640.000000  302640.000000  3.026400e+05  302640.000000
unique            NaN            NaN           NaN            NaN
top               NaN            NaN           NaN            NaN
freq              NaN            NaN           NaN            NaN
first             NaN            NaN           NaN            NaN
last              NaN            NaN           NaN            NaN
mean        49.157508      43.181383  1.827060e+06      -0.039518
std        117.647545     105.233369  7.954125e+06       1.167833
min          0.028158       0.016078  1.500000e+01      -4.770180
25%          3.394753       2.710682  8.400000e+03      -0.366036
50%         12.939310      10.913132  4.926150e+04       0.001613
75%         40.119244      34.464009  2.840682e+05       0.343807
max        824.141652     736.575913  6.388384e+07       3.601906

              ret_6_1       ret_12_1       saleq_su       tax_gr1a  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.030427       0.075176       0.042678       0.000584
std          0.305082       0.484566       1.148085       0.022688
min         -0.678124      -0.824566      -3.662227      -0.095588
25%         -0.128680      -0.198423      -0.506134      -0.004460
50%          0.008501       0.018088       0.088183       0.000115
75%          0.157540       0.251039       0.741639       0.006135
max          1.274001       2.235560       3.256447       0.094363

             ni_inc8q  prc_highprc_252d     resff3_6_1    resff3_12_1  \
count   302640.000000     302640.000000  302640.000000  302640.000000
unique            NaN               NaN            NaN            NaN
top               NaN               NaN            NaN            NaN
freq              NaN               NaN            NaN            NaN
first             NaN               NaN            NaN            NaN
last              NaN               NaN            NaN            NaN
mean         2.272877          0.747733      -0.066346      -0.029151
std          2.442523          0.206802       0.490279       0.252321
min          0.000000          0.124684      -1.780598      -0.798715
25%          0.000000          0.636786      -0.284362      -0.158688
50%          2.000000          0.801158      -0.029992      -0.012453
75%          4.000000          0.907313       0.196285       0.116509
max          8.000000          1.000000       1.230951       0.582372

                be_me        debt_me          at_me      ret_60_12  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.877036       0.934957       3.508111       0.398995
std          0.938014       2.340201       6.909961       1.181512
min          0.034962       0.000000       0.092418      -0.929783
25%          0.369256       0.052171       0.821389      -0.200915
50%          0.617228       0.257516       1.531634       0.081231
75%          1.013951       0.705494       2.936145       0.617245
max          6.150324      17.036663      49.091416       6.947696

                ni_me         fcf_me      div12m_me        eqpo_me  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean        -0.059912      -0.008917       0.033365       0.032944
std          0.468489       0.246252       0.022790       0.024492
min         -3.398466      -1.478866       0.003166       0.000000
25%         -0.006381      -0.018607       0.022742       0.018685
50%          0.038689       0.031398       0.029023       0.034725
75%          0.072483       0.056268       0.035484       0.040904
max          0.525108       0.692331       0.163751       0.155940

             eqnpo_me       sale_gr3       sale_gr1     ebitda_mev  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.012714       0.561307       0.166816       0.089337
std          0.066623       2.003967       0.691673       0.195406
min         -0.459036      -0.960299      -0.849058      -0.958675
25%          0.009897      -0.064705      -0.070341       0.048122
50%          0.023797       0.150611       0.046520       0.095749
75%          0.029807       0.479714       0.201574       0.151121
max          0.144026      16.028093       5.002326       0.770676

              sale_me         ocf_me  intrinsic_value        bev_mev  \
count   302640.000000  302640.000000    302640.000000  302640.000000
unique            NaN            NaN              NaN            NaN
top               NaN            NaN              NaN            NaN
freq              NaN            NaN              NaN            NaN
first             NaN            NaN              NaN            NaN
last              NaN            NaN              NaN            NaN
mean         2.014011       0.070947      3490.671421       0.796170
std          3.182464       0.311400     10446.842592       0.667954
min          0.000000      -1.537848         2.491002       0.018388
25%          0.425476       0.013882       163.776655       0.418438
50%          0.984983       0.074792       725.154538       0.686137
75%          2.122654       0.146634      1321.096408       0.977498
max         20.722951       1.308234     73545.097488       4.629562

           netdebt_me         eq_dur      capex_abn         at_gr1  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.641032      16.327350       0.004315       0.148215
std          2.123302       4.317919       0.625859       0.559328
min         -1.528184       3.881245      -0.956574      -0.582037
25%         -0.052563      14.919482      -0.229782      -0.065575
50%          0.116884      16.398156      -0.061411       0.041766
75%          0.495177      17.477787       0.028505       0.178321
max         15.348466      39.837547       3.741961       3.956889

          ppeinv_gr1a         noa_at       noa_gr1a      lnoa_gr1a  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.041438       0.519186       0.053695       0.014864
std          0.151434       0.302371       0.218905       0.080292
min         -0.410121      -0.378238      -0.438134      -0.254731
25%         -0.009362       0.378309      -0.031889      -0.012824
50%          0.015287       0.532825       0.020550       0.006091
75%          0.075249       0.659525       0.089195       0.034057
max          0.756529       1.695588       1.314765       0.357275

             capx_gr1       capx_gr2       capx_gr3     chcsho_12m  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.292807       0.504996       0.658489       0.044786
std          1.324327       2.018835       2.565908       0.185193
min         -0.932967      -0.965249      -0.971395      -0.094992
25%         -0.164794      -0.173986      -0.150548       0.000000
50%          0.019811       0.069675       0.081623       0.000000
75%          0.267441       0.384383       0.516274       0.000000
max          9.564479      14.873391      19.325442       1.387552

           eqnpo_12m       debt_gr3        inv_gr1       inv_gr1a  \
count   3.026400e+05  302640.000000  302640.000000  302640.000000
unique           NaN            NaN            NaN            NaN
top              NaN            NaN            NaN            NaN
freq             NaN            NaN            NaN            NaN
first            NaN            NaN            NaN            NaN
last             NaN            NaN            NaN            NaN
mean   -1.523396e-02       2.558579       0.143770       0.002494
std     1.342175e-01      14.410995       0.743525       0.042392
min    -8.674392e-01      -1.000000      -1.000000      -0.183769
25%    -1.665335e-16      -0.192038      -0.085117      -0.002707
50%     2.009748e-04       0.082846       0.028436       0.000000
75%     2.784665e-02       0.541428       0.174600       0.009285
max     2.137249e-01     127.034183       5.427644       0.169068

         oaccruals_at   taccruals_at      cowc_gr1a       coa_gr1a  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean        -0.047039      -0.051644       0.001820       0.009271
std          0.119665       0.158401       0.090986       0.101582
min         -0.659574      -0.758501      -0.373954      -0.453094
25%         -0.073584      -0.092923      -0.020853      -0.017198
50%         -0.039763      -0.042046       0.002087       0.008546
75%         -0.009237      -0.000830       0.027805       0.046763
max          0.339613       0.534780       0.352011       0.335063

             col_gr1a     nncoa_gr1a      ncoa_gr1a      ncol_gr1a  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.007472       0.016249       0.018381       0.001672
std          0.080678       0.126861       0.132344       0.043225
min         -0.369281      -0.568350      -0.591016      -0.193162
25%         -0.013200      -0.019518      -0.021683      -0.005491
50%          0.007566       0.012805       0.014554       0.000500
75%          0.032461       0.053259       0.057490       0.009913
max          0.277774       0.438076       0.473208       0.174784

            nfna_gr1a       sti_gr1a       lti_gr1a       fnl_gr1a  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean        -0.005936       0.000222       0.000715       0.007395
std          0.128632       0.044619       0.029575       0.103856
min         -0.469093      -0.219299      -0.143646      -0.428724
25%         -0.045148      -0.000077      -0.000439      -0.021050
50%         -0.000088       0.000000       0.000000       0.000000
75%          0.031385       0.000025       0.000602       0.035489
max          0.533026       0.218021       0.153058       0.376613

              be_gr1a   oaccruals_ni   taccruals_ni       netis_at  \
count   302640.000000  302640.000000  302640.000000  302640.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
first             NaN            NaN            NaN            NaN
last              NaN            NaN            NaN            NaN
mean         0.014383      -1.804524      -2.021820       0.037794
std          0.172676       6.505924       8.592360       0.140863
min         -0.776519     -48.147053     -59.163193      -0.262129
25%         -0.026121      -1.506273      -1.841858       0.000000
50%          0.013997      -0.707934      -0.732540       0.008157

### Normalization

In [65]:
df[features]=sklearn.preprocessing.minmax_scale(df[features], feature_range=(0, 1), axis=0, copy=False)

In [67]:
df.head()

,id,date,eom,size_grp,primary_sec,curcd,fx,common,comp_tpci,comp_exchg,...,rmax5_rvol_21d,ni_be,ocf_at,ocf_at_chg1,mispricing_perf,mispricing_mgmt,qmj,qmj_prof,qmj_growth,qmj_safety
0,comp_001166_02W,1999-07-30,1999-07-31,small,0,EUR,1.070296,1,0,154,...,0.266162,0.702730,0.619276,0.609128,0.522291,0.595222,0.498247,0.505300,0.515193,0.458964
1,comp_001166_02W,1999-08-31,1999-08-31,small,0,EUR,1.056227,1,0,154,...,0.236868,0.702730,0.619276,0.609128,0.531882,0.583406,0.495584,0.505273,0.512611,0.462543
2,comp_001166_02W,1999-09-30,1999-09-30,small,0,EUR,1.064990,1,0,154,...,0.230879,0.702730,0.619276,0.609128,0.520640,0.583079,0.495584,0.502896,0.512611,0.460300
3,comp_001166_02W,1999-10-29,1999-10-31,small,0,EUR,1.051050,1,0,154,...,0.261028,0.760038,0.747463,0.524785,0.533115,0.587913,0.495515,0.504106,0.512957,0.464796
4,comp_001166_02W,1999-11-30,1999-11-30,small,0,EUR,1.006891,1,0,154,...,0.292613,0.760038,0.747463,0.524785,0.525494,0.599639,0.506357,0.509513,0.523632,0.478686

In [68]:
df["me_company"].min()
df["me_company"].max()

0.9999999999999999

### Convert float64 to float32

In [69]:
for column in df:
    if df[column].dtypes == "float64": 
        df[column] = df[column].astype("float32")

In [70]:
#Inspect variable types
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302640 entries, 0 to 306410
Data columns (total 174 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    object
 1   date                  datetime64[ns]
 2   eom                   datetime64[ns]
 3   size_grp              object
 4   primary_sec           int64
 5   curcd                 object
 6   fx                    float32
 7   common                int64
 8   comp_tpci             object
 9   comp_exchg            int64
 10  sic                   float32
 11  shares                float32
 12  me_company            float32
 13  prc_local             float32
 14  dolvol                float32
 15  ret                   float32
 16  ret_local             float32
 17  ret_exc               float32
 18  ret_lag_dif           float32
 19  ret_exc_lead1m        float32
 20  enterprise_value      float32
 21  book_equity           float32
 22  assets                float32
 23  sales                 float32
 24  net_income            float32
 25  bidask                float32
 26  prc_high              float32
 27  prc_low               float32
 28  tvol                  float32
 29  niq_su                float32
 30  ret_6_1               float32
 31  ret_12_1              float32
 32  saleq_su              float32
 33  tax_gr1a              float32
 34  ni_inc8q              float32
 35  prc_highprc_252d      float32
 36  resff3_6_1            float32
 37  resff3_12_1           float32
 38  be_me                 float32
 39  debt_me               float32
 40  at_me                 float32
 41  ret_60_12             float32
 42  ni_me                 float32
 43  fcf_me                float32
 44  div12m_me             float32
 45  eqpo_me               float32
 46  eqnpo_me              float32
 47  sale_gr3              float32
 48  sale_gr1              float32
 49  ebitda_mev            float32
 50  sale_me               float32
 51  ocf_me                float32
 52  intrinsic_value       float32
 53  bev_mev               float32
 54  netdebt_me            float32
 55  eq_dur                float32
 56  capex_abn             float32
 57  at_gr1                float32
 58  ppeinv_gr1a           float32
 59  noa_at                float32
 60  noa_gr1a              float32
 61  lnoa_gr1a             float32
 62  capx_gr1              float32
 63  capx_gr2              float32
 64  capx_gr3              float32
 65  chcsho_12m            float32
 66  eqnpo_12m             float32
 67  debt_gr3              float32
 68  inv_gr1               float32
 69  inv_gr1a              float32
 70  oaccruals_at          float32
 71  taccruals_at          float32
 72  cowc_gr1a             float32
 73  coa_gr1a              float32
 74  col_gr1a              float32
 75  nncoa_gr1a            float32
 76  ncoa_gr1a             float32
 77  ncol_gr1a             float32
 78  nfna_gr1a             float32
 79  sti_gr1a              float32
 80  lti_gr1a              float32
 81  fnl_gr1a              float32
 82  be_gr1a               float32
 83  oaccruals_ni          float32
 84  taccruals_ni          float32
 85  netis_at              float32
 86  eqnetis_at            float32
 87  dbnetis_at            float32
 88  niq_be                float32
 89  niq_be_chg1           float32
 90  niq_at                float32
 91  niq_at_chg1           float32
 92  ebit_bev              float32
 93  ebit_sale             float32
 94  sale_bev              float32
 95  at_turnover           float32
 96  gp_at                 float32
 97  gp_atl1               float32
 98  ope_be                float32
 99  ope_bel1              float32
 100 op_at                 float32
 101 op_atl1               float32
 102 cop_at                float32
 103 cop_atl1              float32
 104 f_score               float32
 105 o_score               float32
 106 z_score               float32
 107 pi_nix                float32
 108 at_be                 float32
 109 saleq_gr1             float32
 110 rd_me                 float32
 111 rd_sale               float32
 112 opex_at               float32
 113 emp_gr1               float32
 114 rd5_at                float32
 115 age                   float32
 116 dsale_dinv            float32
 117 dsale_drec            float32
 118 dgp_dsale             float32
 119 dsale_dsga            float32
 120 sale_emp_gr1          float32
 121 tangibility           float32
 122 kz_index              float32
 123 ocfq_saleq_std        float32
 124 cash_at               float32
 125 ni_ar1                float32
 126 ni_ivol               float32
 127 earnings_variability  float32
 128 aliq_at               float32
 129 aliq_mat              float32
 130 seas_1_1an            float32
 131 seas_1_1na            float32
 132 seas_2_5an            float32
 133 seas_2_5na            float32
 134 market_equity         float32
 135 ivol_ff3_21d          float32
 136 ivol_capm_252d        float32
 137 ivol_capm_21d         float32
 138 rvol_21d              float32
 139 beta_60m              float32
 140 betabab_1260d         float32
 141 beta_dimson_21d       float32
 142 turnover_126d         float32
 143 turnover_var_126d     float32
 144 dolvol_126d           float32
 145 dolvol_var_126d       float32
 146 prc                   float32
 147 ami_126d              float32
 148 zero_trades_21d       float32
 149 zero_trades_126d      float32
 150 zero_trades_252d      float32
 151 rmax1_21d             float32
 152 rskew_21d             float32
 153 iskew_capm_21d        float32
 154 iskew_ff3_21d         float32
 155 coskew_21d            float32
 156 ret_1_0               float32
 157 betadown_252d         float32
 158 bidaskhl_21d          float32
 159 ret_3_1               float32
 160 ret_9_1               float32
 161 ret_12_7              float32
 162 corr_1260d            float32
 163 rmax5_21d             float32
 164 rmax5_rvol_21d        float32
 165 ni_be                 float32
 166 ocf_at                float32
 167 ocf_at_chg1           float32
 168 mispricing_perf       float32
 169 mispricing_mgmt       float32
 170 qmj                   float32
 171 qmj_prof              float32
 172 qmj_growth            float32
 173 qmj_safety            float32
dtypes: datetime64[ns](2), float32(165), int64(3), object(4)
memory usage: 213.6+ MB

In [71]:
df.to_csv(r'C:\Users\Besitzer\Documents\Data\ger_factor_data_win_norm.csv', index = False)

### Create a new lead variable for excess return

In [72]:
df['ret_exc_l1'] = df.groupby(['id'])['ret_exc'].shift(-1)

In [73]:
df.head()

,id,date,eom,size_grp,primary_sec,curcd,fx,common,comp_tpci,comp_exchg,...,ni_be,ocf_at,ocf_at_chg1,mispricing_perf,mispricing_mgmt,qmj,qmj_prof,qmj_growth,qmj_safety,ret_exc_l1
0,comp_001166_02W,1999-07-30,1999-07-31,small,0,EUR,1.070296,1,0,154,...,0.702730,0.619276,0.609128,0.522291,0.595222,0.498247,0.505300,0.515193,0.458964,0.343650
1,comp_001166_02W,1999-08-31,1999-08-31,small,0,EUR,1.056227,1,0,154,...,0.702730,0.619276,0.609128,0.531882,0.583405,0.495584,0.505273,0.512611,0.462543,0.605915
2,comp_001166_02W,1999-09-30,1999-09-30,small,0,EUR,1.064990,1,0,154,...,0.702730,0.619276,0.609128,0.520640,0.583079,0.495584,0.502896,0.512611,0.460300,0.382962
3,comp_001166_02W,1999-10-29,1999-10-31,small,0,EUR,1.051050,1,0,154,...,0.760038,0.747463,0.524785,0.533115,0.587913,0.495515,0.504106,0.512957,0.464796,1.000000
4,comp_001166_02W,1999-11-30,1999-11-30,small,0,EUR,1.006891,1,0,154,...,0.760038,0.747463,0.524785,0.525494,0.599639,0.506357,0.509513,0.523632,0.478686,0.929363

In [75]:
#There are 2660 unique german stocks --> We can see that we have no previous value that we can use to predict the frst value in the sequence. 
df['ret_exc_l1'].isna().sum()

2660

In [79]:
df.to_csv(r'C:\Users\Besitzer\Documents\Data\ger_factor_data_win_norm.csv', index = False)